<div>
    <h1><i class="fa fa-question"></i> {{res 'help'}}</h1>
    <p>{{#res 'getHelpFrom'}}<a href="{{forumLink}}" target="_blank" rel="noopener">{{res 'communityForum'}}</a>{{/res}}</p>
    <p>{{#res 'directContactExplainer'}}<a href="#" id="settingsHelpLinkToAccount">{{res 'keeAccount'}}</a>{{/res}}</p>
    <h2 class="demoLauncher">{{res 'openDemo'}}</h2>
    <p class="demoLauncher">{{res 'demoExplainer'}}</p>
    <button class="vault_primary_action demoLauncher" id="launchDemoButton">{{res 'launchDemo'}}</button>
    <div class="settings__linkToAboutPage"><a href="#" id="settingsHelpLinkToAbout">{{res 'menuSetAbout'}} Kee Vault</a></div>
</div>
