<div class="import--scrollRoot scrollRoot">
<div class="scroller">
    <div class="import">
        <h2><i class="fas fa-arrow-up"></i> {{res 'import'}}</h2>
        {{#if firstRun}}<div>{{res 'vaultReady'}}</div>{{/if}}
        <div>{{res 'importExplainer'}}</div>
        <div>
            <div class="import__icons">
                <div class="import__icon import__icon-import vault_import_choice active" tabindex="10" data-import-source="none">
                    <div class="import__icon-text">{{res 'dontImport'}}</div>
                </div>
                <div class="import__icon import__icon-import vault_import_choice" tabindex="15" data-import-source="dashlane">
                    <div class="import__icon-text">Dashlane</div>
                </div>
                <div class="import__icon import__icon-import vault_import_choice" tabindex="20" data-import-source="keepass">
                    <div class="import__icon-text">KeePass</div>
                </div>
                <div class="import__icon import__icon-import vault_import_choice" tabindex="30" data-import-source="lastpass">
                    <div class="import__icon-text">LastPass</div>
                </div>
                <div class="import__icon import__icon-import vault_import_choice" tabindex="40" data-import-source="onepassword">
                    <div class="import__icon-text">1Password</div>
                </div>
                <div class="import__icon import__icon-import vault_import_choice" tabindex="50" data-import-source="other">
                    <div class="import__icon-text">{{res 'other'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroller__bar-wrapper"><div class="scroller__bar"></div></div>
</div>
