<div class="import--scrollRoot scrollRoot">
<div class="scroller">
    <div class="import">
        <h2><i class="fas fa-arrow-up"></i> {{res 'import'}}</h2>
        {{#if firstRun}}<div>{{res 'vaultReady'}}</div>{{/if}}
        <div>{{res 'importExplainer'}}</div>
        <div>
            <div class="import__icons">
                <div class="import__icon import__icon-import vault_import_choice active" tabindex="10" data-import-source="none">
                    <i class="fa fa-file import__icon-i"></i>
                    <div class="import__icon-text">{{res 'dontImport'}}</div>
                </div>
                <div class="import__icon import__icon-import vault_import_choice" tabindex="20" data-import-source="keepass">
                    <i class="fa fa-lock import__icon-i"></i>
                    <div class="import__icon-text">KeePass</div>
                </div>
                <div class="import__icon import__icon-import vault_import_choice" tabindex="30" data-import-source="lastpass">
                    <i class="fas fa-star-of-life import__icon-i"></i>
                    <div class="import__icon-text">LastPass</div>
                </div>
                <div class="import__icon import__icon-import vault_import_choice" tabindex="40" data-import-source="other">
                    <i class="fa fa-ellipsis-h import__icon-i"></i>
                    <div class="import__icon-text">{{res 'other'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroller__bar-wrapper"><div class="scroller__bar"></div></div>
</div>
