<div class="import import_mode">
    <div class="import_source">
        <div>{{res 'importLastPassInstructions1'}}</div>
        <div>{{res 'importLastPassInstructions2'}}</div>
        <ol>
            <li>{{res 'importLastPassInstructions3'}}</li>
            <li>{{res 'importLastPassInstructions4'}}</li>
            <li>{{res 'importLastPassInstructions5'}}</li>
        </ol>
        <input type="file" class="import__file-ctrl hide-by-pos" />
        <div class="import__icons">
            <div class="import__icon import__icon-import" tabindex="1">
                <i class="fa fa-folder-open import__icon-i"></i>
                <div class="import__icon-text">{{res 'openSelectFile'}}</div>
            </div>
        </div>
        <div style="text-align: center;">{{res 'dragDropIncText'}}</div>
    </div>
    <div class="import__dropzone">
        <i class="fa fa-lock muted-color import__dropzone-icon"></i>
        <h1 class="muted-color import__dropzone-header">{{res 'openDropHere'}}</h1>
    </div>
</div>
