<div class="open open--file">
    <div class="logo-container">{{{svg 'logo'}}}</div>
    {{#if verificationSuccess}}
        <div class="message">{{res 'verificationSuccess'}}</div>
    {{/if}}
    {{#if verificationFailure}}
        <div class="message">{{res 'verificationFailure'}}</div>
    {{/if}}
    {{#if manageAccount}}
        <div class="message">{{res 'manageAccountAfterLogin'}}</div>
    {{/if}}
    {{#if managePayment}}
        <div class="message">{{res 'managePaymentAfterLogin'}}</div>
    {{/if}}
    <div class="vault_user_welcome">{{#res 'accountWelcomeMessage'}}{{accountEmail}}{{/res}}</div>
    <div class="open__pass-warn-wrap">
        <div class="open__pass-warning muted-color invisible"><i class="fa fa-exclamation-triangle"></i> {{res 'openCaps'}}</div>
    </div>
    <div class="open__pass-area">
        <div class="open__pass-field-wrap">
            <input class="open__pass-input" type="password" autocomplete="off" maxlength="1024"
                   placeholder="{{res 'typeYourAccountPassword'}}" tabindex="13" />
        </div>
    </div>
    <button tabindex="15" class="emailSubmit vault_action" id="openButton">
        <div class="content">{{res 'unlock'}}</div>
        <div class="opening-icon"><i class="fa fa-spinner fa-spin"></i></div>
    </button>
    <div class="account-link-container"><a id="accountChangeUser">{{res 'changeUser'}}</a>
    <br/><br/>
    <span>{{res 'accResetForgotPasswordQuestion'}}</span> <a id="resetAccount">{{res 'resetAccount'}}</a></div>
</div>
