<div class="footer">
    <div class="footer__db--dimmed footer__db--expanded footer__db-save">
        <button id="footerSaveButton" class="vault_action minified">
            <div class="content">{{res 'setFileSave'}}</div>
            <div class="opening-icon"><i class="fa fa-spinner fa-spin"></i></div>
        </button>
    </div>
    <div class="footer__btn footer__btn-menu" tip-placement="top" data-title="{{res 'menu'}}"><i class="fa fa-bars"></i><div id="narrowMenuPopup" class="narrowMenuPopup minified">
        <div class="footer__btn footer__btn-account"><i class="fa fa-user"></i> {{res 'account'}}</div>
        <div class="footer__btn footer__btn-settings"><i class="fa fa-cog"></i> {{res 'settings'}}</div>
        <div class="footer__btn footer__btn-generate"><i class="fa fa-bolt"></i> {{res 'footerTitleGen'}}</div>
        <div class="footer__btn footer__btn-help"><i class="fa fa-question"></i> {{res 'help'}}</div>
        <div class="footer__btn footer__btn-lock"><i class="fa fa-sign-out-alt"></i> {{res 'footerTitleLock'}}</div>
    </div></div>
    <div class="footer__btn footer__btn-account" title="{{res 'manageAccount'}}" tip-placement="top"><i class="fa fa-user"></i></div>
    <div class="footer__btn footer__btn-settings" title="{{res 'settings'}}" tip-placement="top"><i class="fa fa-cog"></i></div>
    <div class="footer__btn footer__btn-generate" title="{{res 'footerTitleGen'}}" tip-placement="top"><i class="fa fa-bolt"></i></div>
    <div class="footer__btn footer__btn-help" title="{{res 'help'}}" tip-placement="top"><i class="fa fa-question"></i></div>
    <div class="footer__btn footer__btn-lock" title="{{res 'footerTitleLock'}}" tip-placement="top-left"><i class="fa fa-sign-out-alt"></i></div>
</div>
