<div class="modal modal--hidden {{#if opaque}}modal--opaque{{/if}}">
    <div class="modal__content">
        <i class="modal__icon fa fa-{{icon}}"></i>
        <div class="modal__header">{{{header}}}</div>
        <div class="modal__body">
            {{{body}}}
            {{#if checkbox}}
            <div class="modal__check-wrap"><input type="checkbox" id="modal__check" /><label for="modal__check">{{checkbox}}</label></div>
            {{/if}}
        </div>
        <div class="modal__buttons">
            {{#each buttons as |btn|}}
                <button class="vault_action {{#unless btn.result}}{{#unless btn.asyncresult}}btn-error{{/unless}}{{/unless}} {{#if btn.error}}btn-error{{/if}} {{#if btn.silent}}btn-silent{{/if}}"
                        data-result="{{btn.result}}" data-asyncresult="{{btn.asyncresult}}">
                    <div class="content">{{btn.title}}</div>
                    <div class="opening-icon"><i class="fa fa-spinner fa-spin"></i></div>
                </button>
            {{/each}}
        </div>
    </div>
</div>
