<div class="vault_intro_top hide" id="vault_intro_top">
    <div id="vault_intro_top_logo"><div class="logo-container">{{{svg 'logo'}}}</div></div>
    <div id="vault_intro_top_mobilebutton"><button class="vault_primary_action" id="demoSignUpCTAMobile">Sign up now</button></div>
    <div id="vault_intro_top_strapline"><span id="initialPageBannerStrapline">{{res 'initialPageBannerStrapline'}}</span><span id="keeAddonBannerStrapline" class="hide"><span class="keeAddonMissing">{{#if extensionLink}}{{res 'introInstallExtensionBecauseEasier'}} <a href="{{extensionLink}}" target="keeExtensionDownload" rel="noopener">{{ res 'installTheExtension'}}</a>{{/if}}</span></span></div>
    <div id="vault_intro_top_main">
        <div id="demoBlurb">
            <button class="vault_primary_action" id="demoSignUpCTA">{{res 'signup'}}<br/>{{res 'now'}}</button>
            <div>{{res 'initialPageBannerInstructionsPreDemo'}}<span class="hide" id="demoBlurbWarning">{{res 'initialPageBannerInstructionsWarning'}}</span></div>
        </div>
    </div>
    <div id="vault_intro_top_signin" class="existing_user"><div class="account-link-container">{{res 'existingUser'}}<br/><a class="vault_existing_user_login" id="loginLink">{{res 'signin'}}</a></div>
    </div>
</div>
<div class="vault_intro_full">
    <div class="vault_intro_full_content">
        <div class="vault_intro_full_content_header hide">
            <div class="vault_intro_loading_container">
                <div class="logo-container">{{{svg 'logo'}}}</div>
                <div class="account-loading">Loading...</div>
            </div>
        </div>
        <div class="vault_intro_full_content_body">
            <div id="home_side">
                <section id="home_sec_signin">
                    <h4>{{res 'existingUsers'}}</h4>
                    <input id="loginEmail" placeholder="{{res 'emailAddress'}}" type="text">
                    <button class="vault_existing_user_login" id="vault_existing_user_login_wide">{{res 'signin'}}</button>
                    <button class="vault_existing_user_login" id="vault_existing_user_login_narrow"><span style="font-size:0.75rem">{{res 'existingUser'}}</span><br>{{res 'signin'}}</button>
                </section>
            </div>
            <div id="home_main">
                <section id="home_sec_intro">
                    <h2>{{res 'initialPageTopMessage'}}</h2>
                    <p><strong>{{res 'initialPageMainPara1'}}</strong></p>
                    <p><strong>{{res 'initialPageMainPara2'}}</strong></p>
                    <p>{{res 'initialPageMainPara3'}}</p>
                    <div class="signupCTAContainer">
                        <p>Secure your online world now! 30 day free trial and then just £20 per year.</p>
                        <button class="vault_primary_action">{{res 'signup'}}</button>
                    </div>
                </section>
                <section id="home_sec_benefits">
                    <p>Visit our <a href="https://www.kee.pm" target="_blank">home page</a> to read all about the benefits of the Kee Vault password manager and download our free apps for iOS and Android, with enhanced features such as fingerprint/face sign-in and automatic filling of your passwords into other Android apps and websites.</p>
                    <p>This is the <b>Kee Vault web app</b> (Kee Vault version 1). You can use this app on any modern device, including Windows, Mac and Linux.</p>
                </section>
                <section id="home_sec_earlyaccess">
                    <div class="signupCTAContainer">
                        <button class="vault_primary_action">{{res 'getStartedForFree'}}</button>
                    </div>
                </section>
                <section id="home_sec_reviews">
                    <h3>{{res 'independentOpinions'}}</h3>
                    <blockquote>{{res 'initialPageOpinion1'}}</blockquote>
                    <blockquote>{{res 'initialPageOpinion2'}}</blockquote>
                    <blockquote>{{res 'initialPageOpinion3'}}</blockquote>
                    <p class="opinionContextExplainer">{{res 'initialPageOpinionsCaveat'}}</p>
                </section>
            </div>

        </div>
    </div>
</div>
